<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	//한줄 주석
	/*
		여러 줄 주석
	*/
	
	function start() {
		alert("문서가 로딩되었습니다.")
	}
</script>

</head>
<body>
	<h1>자바스크립트의 데이터 입/출력</h1>
	
	<script type="text/javascript">
		document.write("<h1>document.write()로 출력함</h1>");
	</script>
	
	<h3>innerHTML로 요소의 내용 변경하기</h3>
	<div id="area1" class="area">자바스크립트에서 태그 엘리먼트의 값을 읽어가거나,
	 값을 변경할때 innerHTML 속성을 사용한다.</div>
	 <br>
	 <button onclick="checkValue();">innerHTML확인</button>
	 <script type="text/javascript">
	 	function checkValue() {
			var area1 = document.getElementById("area1");
			alert(area1.innerHTML);
			console.log(area1.innerHTML);
			console.log(area1);
			
			area1.innerHTML = "innerHTML 속성으로 값 변경함";
		}
	 </script>
	 
	 <hr>
	 
	 <h3>console.log()로 개발자 도구 콘솔 화면에 출력하기</h3>
	 <button onclick="printConsole();">콘솔에 내용 출력</button>
	 <script type="text/javascript">
	 	function printConsole() {
			var num1 = 3;
			var num2 = 4;
			
			var sum = num1 + num2;
			
			window.console.log(sum);
		}
	 </script>
	
	 <hr>
	 
	 <h3>window.comfirm()을 이용한 데이터 입력</h3>
	 <p>어떤 질문에 대해 "예/아니오"의 결과를 얻을 때 사용한다.</p>
	 <button onclick="checkGender();">성별 확인하기</button>
	 <div id= "area2" class="area"></div>	 
	 <script type="text/javascript">
	 	function checkGender() {
			var result = confirm("남자면 확인, 여자면 취소");
			console.log(result);
			var gender="";
			if(result==true) gender="남자";
			else             gender="여자";
			
			console.log(gender);
			var area2 = document.getElementById("area2");
			
			area2.innerHTML += "당신은" + gender + "입니다.<br>";
			
		}
	 </script>
	 
	 <hr>
	 
	 <h3>window.prompt()를 이용한 데이터 입력</h3>
	 <p>텍스트필드와 확인/취소 버튼이 있는  대화상자를 출력하고, 입력한 메세지 내용을 리턴값으로 돌력받는다</p>
	 <button onclick="testPrompt();">이름 입력</button>
	 <div id="area3" class="area"></div>
	 <script type="text/javascript">
	 	function testPrompt() {
			var result=window.prompt("당신의 이름은 무엇인가요?");
			
			var area3 = document.getElementById("area3");
			
			area3.innerHTML += "앗, 당신이 " + result + "군요! 반값습니다.";
		}
	 /* innerHTML : 문서의 바디 안에 있는 HTML 코드를 자바스크립트로 조작할 수 있게 해주는 코드.*/
	 </script>
</body>
</html>